:root {
  --firstColor: #262118;
  --secondColor: #a6936f;
  --thirdColor: #40382b;
  --fourthColor: #bfae8e;
  --fifthColor: #8c6249;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
