.title {
  display: flex;
  justify-content: center;
}

.boutique {
  position: absolute;
  margin-top: 41px;
  color: black;
}

.carte {
  position: absolute;
  margin-top: 41px;
  color: black;
  margin-left: -37px;
}

.navbar {
  background-color: #a6936f;
}
